<div class="sidebar">

    <div class="sidebar__header">

        <div class="sidebar__header__logo">
            <i class='bx bxl-tux'></i>
            <span>Célula 1222</span>
        </div>

        <i class='bx bx-menu menu'></i>

    </div>

    <hr>

    <div class="sidebar__body">

        <div class="sidebar__body__item active">
            <i class='bx bxs-dashboard'></i>
            <span>Dashboard</span>
        </div>
        <div class="sidebar__body__item">
            <i class='bx bxs-user-check'></i>
            <span>Asistencia</span>
        </div>
        <div class="sidebar__body__item">
            <i class='bx bx-money'></i>
            <span>Ofrendas</span>
        </div>
        <div class="sidebar__body__item">
            <i class='bx bx-sitemap'></i>
            <span>Gestión</span>
        </div>
        <div class="sidebar__body__item">
            <!-- <div class="sidebar__body__item__content"> -->
                <i class='bx bxs-cog'></i>
                <span>Settings</span>
            <!-- </div> -->
            <!-- <i class='bx bxs-down-arrow'></i> -->
        </div>

    </div>

    <div class="sidebar__footer">

        <div class="sidebar__footer__info">
            <img class="sidebar__footer__info__img" src="../../../../assets/img/fabiana.jpg" alt="">

            <div class="sidebar__footer__info__subtitles">
                <span>Fabiana Soldevilla</span>
                <p>Manager</p>
            </div>
        </div>
        
        <i class='bx bx-log-out-circle'></i>

    </div>

</div>